---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy Esteban Diaz
				<a href="https://www.linkedin.com/in/esteban-danilo-diaz-riascos/" target="_blank" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>+7 años de experiencia. </span>
				<span class="text-yellow-200/90">Desarrollador Web. </span>
				<span class="text-red-100/90">De Pasto, Colombia 🇨🇴. </span>
				<span class="opacity-75">Especializado en crear aplicaciones únicas.</span>
			</h2>
		</section>
	</main>
</Layout>